/**
* imports
* Menu
* Grille
* Mise en page
** Temporaire
** Général
** Tri et filtres
*** Boutons
** Contrôles de page
** Liens artistes
*/

/* Normalize
   ========================================================================== */
//@import "normalize";

/* Utilitaires
   ========================================================================== */
@import "utilitaire/_variables";

/* Charte typographique
   ========================================================================== */
@import "base/_typo";


/* Mise en page
   ========================================================================== */

/** Temporaire
    ========================================================================== */
.nav__link{
  color: $blanc;
}

/** Général
    ========================================================================== */
body{
  background-color: $charcoal;
  background-image: url("../images/fond/neons-mobile.png");
  background-size: 100%;
}
@media (min-width:800px) {
  body{
    background-image: url("../images/fond/neons-table.png");
    background-size: 100%;
  }
}
h1,
.desole,
.artiste_info_nom,
.artiste_info_style,
.indicateur-page{
  color: $blanc;
}

/** Tri et filtres
    ========================================================================== */
.media > .section-tri { grid-area: tri; }
.media > .section-filtre { grid-area: filtre; }
.media > .appliquer { grid-area: app; }
.media > .reinitialiser { grid-area: reini; }

.h2_tri{
  color: $charcoal;
  margin-top: 0;
}
.tri-filtres {
  background-color: $bleu;
  background-size: 200%;
  box-shadow: 4px 4px 15px rgba($bleu, 0.4), -4px -4px 15px rgba($bleu, 0.4);
  padding: 3% 10%;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 30% 60%;
  grid-template-areas:
    "tri filtre"
    "app reini";
}
.filtre_element{
  list-style: none;
  display: inline-block;
  width: 12rem;
}
/*** Boutons
    ========================================================================== */
.bouton{
  max-width: 100px;
  margin: 30px 5px 5px 5px;
  padding: 0px;
  background-color: $charcoal;
  border: none;
  color: $blanc;
  border-radius: 4px;
}
.bouton:hover{
  color: $bleu;
}
.bouton:active{
  box-shadow: inset 0px -3px 5px 6px rgba(#000, 0.5);
  width: 105%;
}
.bouton:hover p,
.bouton:active p{
  text-shadow: -4px -4px 15px $bleu, 4px 4px 15px $bleu;
}

/** Contrôles de page
    ========================================================================== */
.page.inactif{
  color: $mauve;
  text-shadow: -4px -4px 15px $mauve, 4px 4px 15px $mauve;
}
.precedente.inactif,
.suivante.inactif{
  color: #A4A4A4;
}
.actif:link,
.actif:visited{
  color: $blanc;
}
.actif:hover,
.actif:active{
  color: $jaune;
  text-shadow: -4px -4px 15px rgba($jaune, 0.5), 4px 4px 15px rgba($jaune, 0.5);
}
.indicateur-page{
  text-align: center;
  margin: 5px;
}
.controle-page{
  text-align: center;
}

/** Liens artistes
    ========================================================================== */
.liste-artistes{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  margin: 100px auto;
}
.artiste_img{
  order: 1;
}

.artistes{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.artiste_info_nom,
.artiste_info_style{
  background-color: $charcoal;
  max-width: 245px;
}
.artiste_info{
  margin-left: 20px;
}
@media(min-width:800px){
  .liste-artistes{
    display: flex;
    flex-direction: column;
  }
  .artistes.impair{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: auto;
  }
  .artistes.pair{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .artiste_img{
    order: 0;
  }
}

