@charset "UTF-8";
/**
 * @author Rosalie Roy - 2133488@csfoy.ca
 *
 * TABLE DES MATIERES
 ** Importation de polices
 **
 */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.main,
.footer {
  background-image: url("../image_accueil/accueil_table/bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  padding: 20px 20px;
}

.div_main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px;
}

.h1 {
  font-family: 'Rubik Dirt';
  font-size: 50px;
  color: white;
}

.h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

.picture_left {
  width: auto;
  position: relative;
  z-index: 1;
}

.picture_right {
  width: auto;
  position: relative;
  z-index: 1;
}

.img_article {
  margin-top: 30px;
  width: 100%;
  z-index: 1;
}

@media (max-width: 570px) {
  .img_article {
    width: 100%;
  }
}

.img_article_2 {
  width: 100%;
  z-index: 1;
}

.tout_est_possible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 570px) {
  .tout_est_possible {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.picture_left::before {
  position: absolute;
  z-index: -1;
  content: ' ';
  width: 100%;
  height: 95%;
  left: -3%;
  top: -5%;
  border: 3px solid #FFE607;
  /* Lumière bleue table */
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(255, 230, 7, 0.4)) drop-shadow(4px 4px 15px rgba(255, 230, 7, 0.4));
          filter: drop-shadow(-4px -4px 15px rgba(255, 230, 7, 0.4)) drop-shadow(4px 4px 15px rgba(255, 230, 7, 0.4));
}

@media (max-width: 570px) {
  .picture_left::before {
    height: 9rem;
    width: 100%;
    height: 100%;
  }
}

.picture_left::after {
  position: absolute;
  z-index: -1;
  content: ' ';
  width: 100%;
  height: 95%;
  left: 1%;
  bottom: -5%;
  border: 3px solid #46D3D3;
  /* Lumière bleue table */
  -webkit-filter: drop-shadow(4px 4px 15px rgba(70, 211, 211, 0.4)) drop-shadow(-4px -4px 15px rgba(70, 211, 211, 0.4));
          filter: drop-shadow(4px 4px 15px rgba(70, 211, 211, 0.4)) drop-shadow(-4px -4px 15px rgba(70, 211, 211, 0.4));
}

@media (max-width: 570px) {
  .picture_left::after {
    height: 9rem;
    width: 100%;
    height: 100%;
  }
}

.picture_right::before {
  position: absolute;
  z-index: -1;
  content: ' ';
  width: 100%;
  height: 13rem;
  left: -3%;
  top: -5%;
  border: 3px solid #FFE607;
  /* Lumière bleue table */
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(255, 230, 7, 0.4)) drop-shadow(4px 4px 15px rgba(255, 230, 7, 0.4));
          filter: drop-shadow(-4px -4px 15px rgba(255, 230, 7, 0.4)) drop-shadow(4px 4px 15px rgba(255, 230, 7, 0.4));
}

@media (max-width: 570px) {
  .picture_right::before {
    height: 15rem;
  }
}

.picture_right::after {
  position: absolute;
  z-index: -1;
  content: ' ';
  width: 100%;
  height: 15rem;
  left: 2%;
  bottom: -5%;
  border: 3px solid #46D3D3;
  /* Lumière bleue table */
  -webkit-filter: drop-shadow(4px 4px 15px rgba(70, 211, 211, 0.4)) drop-shadow(-4px -4px 15px rgba(70, 211, 211, 0.4));
          filter: drop-shadow(4px 4px 15px rgba(70, 211, 211, 0.4)) drop-shadow(-4px -4px 15px rgba(70, 211, 211, 0.4));
}

@media (max-width: 570px) {
  .picture_right::after {
    height: 15rem;
  }
}

.section_photo {
  margin-top: 50px;
}

.h2 {
  text-align: center;
}

@media (max-width: 570px) {
  .h2 {
    font-size: 35px;
  }
}

.centenu-actu1,
.centenu-actu3,
.centenu-actu5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 740px) {
  .centenu-actu1,
  .centenu-actu3,
  .centenu-actu5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.centenu-actu2,
.centenu-actu4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 740px) {
  .centenu-actu2,
  .centenu-actu4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.actualite_elem {
  margin-top: 150px;
}

.actualite .h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

h4, p {
  color: white;
}

.actu-picture {
  width: 100%;
  position: relative;
  z-index: 1;
}

.actu-picture::before {
  position: absolute;
  left: 4.32%;
  height: 95%;
  width: 95%;
  left: -3%;
  top: -5%;
  content: '';
  z-index: -1;
  /* Purple */
  border: 3px solid #AC3AB6;
  /* Lumière mauve table */
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
          filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
}

.actu {
  width: 100%;
}

@media (max-width: 570px) {
  .actu {
    width: 100%;
  }
}

.text-actu {
  max-width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 3px solid #FFE607;
  padding: 20px 20px;
  /* Lumière jaune table */
  -webkit-box-shadow: -4px -4px 15px rgba(255, 230, 7, 0.4), 4px 4px 15px rgba(255, 230, 7, 0.4);
          box-shadow: -4px -4px 15px rgba(255, 230, 7, 0.4), 4px 4px 15px rgba(255, 230, 7, 0.4);
}

@media (max-width: 740px) {
  .text-actu {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.artiste_sugg {
  margin-top: 100px;
  width: 1000px;
}

.artiste_sugg .h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 1010px) {
  .artiste_sugg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px auto;
    width: 100%;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list_artistes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1000px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  gap: 30px;
}

@media (max-width: 1010px) {
  .list_artistes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.list_artistes-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.list_artistes-elem .lien_artiste {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
}

.list_artistes-elem:hover .lien_artiste {
  color: #AC3AB6;
}

.sugg {
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 1010px) {
  .artiste_sugg-picture {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

section .h2 {
  margin-top: 100px;
}

.tarif1 {
  padding: 20px;
  width: 100%;
  background-color: #AC3AB6;
  border: 3px solid #AC3AB6;
  /* Lumière mauve table */
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
          filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
}

.tarif2 {
  padding: 20px;
  color: black;
  width: 100%;
  background-color: #FFE607;
  border: 3px solid #FFE607;
  /* Lumière jaune table */
  -webkit-box-shadow: -4px -4px 15px rgba(255, 230, 7, 0.4), 4px 4px 15px rgba(255, 230, 7, 0.4);
          box-shadow: -4px -4px 15px rgba(255, 230, 7, 0.4), 4px 4px 15px rgba(255, 230, 7, 0.4);
}

.tarif3 {
  padding: 20px;
  color: black;
  width: 100%;
  background-color: #46D3D3;
  border: 3px solid #46D3D3;
  -webkit-box-shadow: -4px -4px 15px rgba(70, 211, 211, 0.4), 4px 4px 15px rgba(70, 211, 211, 0.4);
          box-shadow: -4px -4px 15px rgba(70, 211, 211, 0.4), 4px 4px 15px rgba(70, 211, 211, 0.4);
}

.liste_lieux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.liste_lieux-elem:nth-child(odd) {
  border: 3px solid #46D3D3;
  -webkit-box-shadow: -4px -4px 15px rgba(70, 211, 211, 0.4), 4px 4px 15px rgba(70, 211, 211, 0.4);
          box-shadow: -4px -4px 15px rgba(70, 211, 211, 0.4), 4px 4px 15px rgba(70, 211, 211, 0.4);
  color: white;
  padding: 20px;
}

.liste_lieux-elem:nth-child(even) {
  color: white;
  padding: 20px;
  border: 3px solid #AC3AB6;
  /* Lumière mauve table */
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
          filter: drop-shadow(-4px -4px 15px rgba(172, 58, 182, 0.5)) drop-shadow(4px 4px 15px rgba(172, 58, 182, 0.5));
}
/*# sourceMappingURL=style-isaac.css.map */